<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/common_head_fragment.html :: head(title='Книги', description='Книги')}">
</head>
<body class="Site">
<header class="Header"
        th:replace="~{admin/fragments/common_header_fragment :: head(main='menu-item menu-item_ACTIVE', status='unauthorized')}"></header>

<div class="container-sm">

    <!--Заголовок-->
    <h4>Книги</h4>

    <button id="delete-button" type="button" class="btn btn-primary">Удалить</button>
    <button id="update-button" type="button" class="btn btn-primary">Редактировать</button>
    <button id="create-button" type="button" class="btn btn-primary" onclick="window.location.href = '/admin/books/-1';">Создать</button>
    <button id="change-image-button" type="button" class="btn btn-primary">Изменить изображение</button>

    <table id="example" class="table table-striped" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>id</th>
            <th>Имя в пути</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Изображение</th>
            <th>Цена</th>
            <th>Скидка</th>
            <th>Бестселлер</th>
            <th>Популярность</th>
            <th>Дата публикации</th>
        </tr>
        </thead>
    </table>

</div>

<footer></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="/assets/js/action.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            "ordering": false, // for disable order column
            "paging": false, // for show paging
            "processing": true, // for show progress bar
            "serverSide": true, // for process server sid
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "draw": "1",
                "url":"http://localhost:8085/api/v1/books",
                "type": "GET",
                "dataSrc": function ( json ) {
                    return json.content;
                },
            },
            "columns": [
                { "data": 'id' },
                { "data": 'slug' },
                { "data": 'title' },
                { "data": 'description' },
                { "data": 'image' },
                { "data": 'price' },
                { "data": 'discount' },
                { "data": 'isBestseller' },
                { "data": 'popularity' },
                { "data": 'pubDate' }
            ]
        } );

        var table = $('#example').DataTable();

        $('#example tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );

        $('#update-button').click( function () {
            var ids = $.map(table.row('.selected').data(), function (item) {
                return item
            });
            window.location.href = (window.location.pathname + "/" + ids[0]);
        } );

        $('#change-image-button').click( function () {
            var ids = $.map(table.row('.selected').data(), function (item) {
                return item
            });
            window.location.href = (window.location.pathname + "/" + ids[0] + "/image");
        } );

        $('#delete-button').click( function () {
            var ids = $.map(table.row('.selected').data(), function (item) {
                return item
            });

            deleteEntity(ids[0], "books");
        } );

    } );
</script>
</body>
</html>